<html>
<body>
<h1>Add a User</h1>
    <form action="/add_user_create">
        <label for="age">Age: </label>
        <input type="text" name="age" /><br/><br/>
        <label for="email">Email: </label>
        <input type="text" name="email" /><br/><br/> 
        <label for="password">Password: </label>
        <input type="text" name="password" /><br/><br/> 
        <label for="zipcode">Zip code: </label>
        <input type="text" name="zipcode" /><br/><br/> 
        <input type="submit">
    </form>
</div>
</body>
</html>